#map {
  position: absolute;
  top: 0;
  width: 100%;
  .leaflet-control-zoom-in {
    position: fixed;
    top: 5px;
  }
  .leaflet-control-zoom-out {
    position: fixed;
    top: 31px;
  }
}
.panel {
  margin-top: 5%;
  text-align: center;
  background-color: white;
}
.flip {
  position: relative;
  perspective: 800px;
  #card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: center center;
    .face {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .back {transform: rotateY( 180deg );}
  }
  #card.flipped {transform: rotateY( 180deg );}
}
#form {
  .panel-body {
    width: 90%;
    margin: auto;
  }
  .attend { display: none;}
}
