#map {
  position: absolute;
  top: 0;
  width: 100%;
  .leaflet-control-zoom-in {
    position: fixed;
    top: 5px;
  }
  .leaflet-control-zoom-out {
    position: fixed;
    top: 31px;
  }
}
.panel {
  margin-top: 5%;
  text-align: center;
}